<div class="contentCenter">
    <div class="row">
        <div class="col-md-3">
            <figure class="homeCard" ng-show="Core.chkShow('2')" ng-click="changeNav('doShopping')">
                    <img ng-src="images/einkaufswagen.jpg" class="md-card-image" alt="image caption">
                    <figcaption>Einkaufen</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="homeCard" ng-show="Core.chkShow('3')" ng-click="changeNav('shoppingList')">
                <img ng-src="images/einkaufsliste.jpg" class="md-card-image" alt="image caption">
                <figcaption>Einkaufsliste</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure class="homeCard" ng-show="Core.chkShow('5')" ng-click="changeNav('task')">
                <img ng-src="images/hausarbeit.jpg" class="md-card-image" alt="image caption">
                <figcaption>Hausarbeit erledigen</figcaption>
            </figure>
        </div>
		<div class="col-md-3">
            <figure class="homeCard" ng-show="Core.chkShow('4')" ng-click="changeNav('taskList')">
                <img ng-src="images/planung.jpg" class="md-card-image" alt="image caption">
                <figcaption>Hausarbeit planen</figcaption>
            </figure>
        </div>
    </div>
	<!--
        <div class="col-md-4">
            <figure class="homeCard" ng-show="Core.chkShow('1')">
                <img ng-src="images/admin.jpg" class="md-card-image" alt="image caption">
                <figcaption>Benutzer verwalten COMMING SOON</figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="homeCard" ng-show="Core.chkShow('7')">
                <img ng-src="images/taschengeld.jpg" class="md-card-image" alt="image caption">
                <figcaption>Taschengeld einstellen COMMING SOON</figcaption>
            </figure>
        </div>
		-->
</div>
